.mainHeader {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    position: fixed;
    width: 100vw;
    height: 80px;
}

.pageContent {
    top: 60px;
}

.logoImg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
}

.userInteractions {
    flex: 1;
    padding: 20px;
    width: 20%;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
}

.postsContent {
    flex: 2 300px;
    padding: 20px;
    width: 80%;
    overflow: scroll;
    position: fixed;
    top: 60px;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
}

.postsContent::-webkit-scrollbar {
    width: 8px;
}

.postsContent::-webkit-scrollbar-track {
    background: #000;
}

.postsContent::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.postsContent::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.postsContent::-moz-scrollbar {
    width: 8px;
}

.postsContent::-moz-scrollbar-track {
    background: #000;
}

.postsContent::-moz-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.postsContent::-moz-scrollbar-thumb:hover {
    background: #555;
}

.refreshButton {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.refreshFeedIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.refreshButton:focus {
    outline: none;
}

.refreshButton:hover {
    color: #4a63e4;

}