.card {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.avatarContainer {
    border-radius: 50%;
    overflow: hidden;
    height: 60px;
    width: 60px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
  }
  
.avatarImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.username {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
}